In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
import pickle

In [3]:
df = pd.read_csv('spam_ham_dataset.csv')
df.head()

   S.NO label                                               text  label_num
0   605   ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1  2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  4685  spam  Subject: photoshop , windows , office . cheap ...          1
4  2030   ham  Subject: re : indian springs\r\nthis deal is t...          0

In [18]:
print(df['label'].value_counts())

label
ham     3672
spam    1499
Name: count, dtype: int64

In [4]:
X = df['text']
Y = df['label_num']
print(X)
print(Y)
print(X.shape)
print(Y.shape)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object
0       0
1       0
2       0
3       1
4       0
       ..
5166    0
5167    0
5168    0
5169    0
5170    1
Name: label_num, Length: 5171, dtype: int64
(5171,)
(5171,)

In [8]:
vectorize=CountVectorizer()
x_vector=vectorize.fit_transform(X)

In [9]:
model=MultinomialNB()

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x_vector,Y,train_size=0.8,random_state=0)

In [13]:
model.fit(x_train,y_train)
y_predict=model.predict(x_test)
accuracy=accuracy_score(y_predict,y_test)
accuracy

0.9768115942028985

In [14]:
with open('email_model.pkl', 'wb') as f:
    pickle.dump(model, f)